@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  width: 450px;
  position: relative;
}

.header {
  background-image: url(../assets/img/bg_header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 36px;
  height: 450px;
}

.header_nav {
  display: flex;
  justify-content: space-around;
  background-color: #dbdbdb;
  padding: 2px;
}

.header_nav_list {
  display: none;
}

.header_nav_list a:hover {
  cursor: pointer;
  color: yellowgreen;
}
.header_nav_list.active {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 80px;
  background-color: black;
  color: white;
  list-style: none;
  gap: 15px;
  box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
}

.header_btn.active {
  position: absolute;
  right: 100px;
  z-index: 1;
}

.header_btn img {
  width: 25px;
  height: 25px;
}

.header_title {
  color: aliceblue;
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.header_searcher {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 400px;
  height: 30px;
  margin: 190px auto;
  background-color: yellowgreen;
  padding: 3px;
  border-radius: 5px;
}

.header_searcher input {
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.header_searcher_icon {
  width: 20px;
  height: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 430px;
  padding: 10px;
}

.form_container_bg {
  border: 2px solid yellowgreen;
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(../assets/img/bg_form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  width: 100%;
  border-radius: 20px;
}

.form_title {
  margin-bottom: 25px;
  color: #0d470a;
}

.form_container {
  display: flex;
  flex-direction: column;
}

.form_container label {
  font-weight: bold;
}

.form_container input,
.form_container textarea {
  margin-bottom: 15px;
}

.btn_ingrediente {
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 3px;
  border-radius: 4px;
  background-color: yellowgreen;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
}

.card_lista_ingredientes {
  width: 100%;
  max-height: 75px;
  overflow-y: auto;
  padding: 0.5rem;
  margin-bottom: 10px;
}

.list_ingr {
  overflow-y: auto;
  background-color: white;
  border: 2px solid #c4c2c2;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  list-style: none;
  min-height: 20px;
  max-height: 75px;
  margin-bottom: 7px;
}

.list_ingr li::before {
  content: "-";
  gap: 3px;
}

.btn_form {
  width: 200px;
  margin: 0 auto;
  height: 30px;
  background-color: yellowgreen;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.btn_form:hover,
.btn_ingrediente:hover {
  background-color: rgb(178, 240, 54);
}

.card_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 20px;
}

.card_container h3 {
  color: #0d470a;
  margin-bottom: 20px;
}

.card_container h3::after {
  content: "🍽️";
}

.card_container p,
.card_container li {
  color: #333;
  font-size: 0.95rem;
  line-height: 1.5;
}

.card_wrapper {
  padding: 40px;
  width: 100%;
  min-height: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.card_wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.card_wrapper.chile {
  background-image: url(../assets/img/chile/bg_chile.jpg);
  background-repeat: no-repeat;
  background-position: right;
  padding: 2rem;
  border-radius: 10px;
}

.card_wrapper.chile .card_pais::after {
  content: url(../assets/img/chile/chile.png);
}

.card_wrapper.peru {
  background-image: url(../assets/img/peru/bg_peru.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  border-radius: 10px;
}

.card_wrapper.espana {
  background-image: url(../assets/img/espana/bg_espana.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  border-radius: 10px;
}

.card_wrapper.italia {
  background-image: url(../assets/img/italia/bg_italia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  border-radius: 10px;
}

.card_wrapper.argentina {
  background-image: url(../assets/img/argentina/bg_argentina.jpg);
  background-repeat: no-repeat;
  padding: 2rem;
  border-radius: 10px;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
}

.card p {
  margin-bottom: 5px;
}

.card_buttons {
  height: 30px;
  width: 180px;
  left: 30%;
  margin: -13px auto;
  display: flex;
  justify-content: space-between;
}

.card_buttons button {
  padding: 5px;
  background-color: yellowgreen;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  width: 80px;
}

.card_buttons button:hover {
  cursor: pointer;
  background-color: rgb(178, 240, 54);
}

.msj_sinReceta {
  display: block;
  margin-top: 20px;
  padding: 15px;
  background-color: #929016e6;
  border-radius: 20px;
  color: #fffafa;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #dbdbdb;
  color: #0d470a;
  width: 100%;
  height: 150px;
  padding: 20px;
  margin-top: 20px;
}

.footer > p > a {
  text-decoration: none;
  color: black;
}

.footer > p > a:hover {
  color: #0d470a;
}

@media (min-width: 1200px) {
  .header {
    position: relative;
    background-size: 80vw;
    width: 100vw;
    height: 77vh;
    box-shadow: rgb(0, 0, 0, 2);
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .header * {
    position: relative;
    z-index: 2;
  }

  .logo {
    height: 50px;
    width: 50px;
    padding: 5px;
  }

  .header_nav button {
    display: none;
  }

  .header_nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
  }

  .header_nav_list li:first-child {
    color: #0d470a;
    font-weight: bold;
  }

  .header_title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
  }

  .header_searcher {
    width: 560px;
    height: 40px;
    margin: 142px auto;
    background-color: yellowgreen;
    padding: 6px;
  }

  .header_searcher input {
    border-radius: 5px;
    border: none;
    }

  .header_searcher_icon {
    width: 25px;
    height: 25px;
  }

  .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 430px;
  padding: 10px;
  }

  .form_container_bg {
    border: 2px solid yellowgreen;
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url(../assets/img/bg_form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    width: 100%;
    border-radius: 20px;
  }

  .form_title {
    margin-bottom: 25px;
    color: #0d470a;
  }

  .form_container {
    display: flex;
    flex-direction: column;
  }

  .form_container label {
    font-weight: bold;
  }

  .form_container input,
  .form_container textarea {
    margin-bottom: 15px;
  }
}



